
/*
.search-result{
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  width:195px;
  height: 16px;
  padding: 5px;
  background-color: #000;
  color:orange;
  cursor: pointer;
}

.search-result:hover {
  color: #eee;

}

#search-box{
  width: 200px;
  height: 20px;
border:none;
  background-color:#000;
  color:green;
}
*/
